<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://i.picsum.photos/id/1005/5760/3840.jpg?hmac=2acSJCOwz9q_dKtDZdSB-OIK1HUcwBeXco_RMMTUgfY" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ alumni.fullname }}</h5>
    <p class="card-text"><b>{{alumni.jobtitle}}</b> - {{ alumni.notes }}</p>
    <a href="#" class="btn btn-primary" routerLink="/alumnus/{{alumni.id}}">Detail</a>
    <a href="#" class="btn btn-secondary" routerLink="/alumnus-edit/{{alumni.id}}"><span class="cui-contrast"></span> Edit</a>
  </div>
</div>
